// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
	background: black;
}

.group:after {
	content: "";
	display: block;
	clear: both;
}

.keyboard {
	margin: auto;
	width: 630px;
	font-family: monospace;
	font-size: 18px;
}

.key {
	background: white;
	width: 80px;
	height: 80px;
	float: left;
	margin: 4px;
	border: 1px solid white;
	border-bottom-left-radius: 9px;
	border-bottom-right-radius: 9px;
	text-align: center;
}

.keyPressed {
	background: gold;
}

button {
	background: white;
	border: 1px solid white;
	border-radius: 4px;
	margin: 4px;
}

button:hover {
	opacity: .75;
}
